<p>Witojcie</p>

<form name="uploadForm" action="/calculate" method="post" enctype="multipart/form-data">
    <div class="row">
        <label for="file1">Wybierz plik:</label>
        <input type="file" name="file1" id="file1" required="required"/>
    </div>
    <div class="row">
        <label for="file2">Wybierz plik:</label>
        <input type="file" name="file2" id="file2" required="required"/>
    </div>
    <div class="row">
        <input type="submit" value="wyślij" class="btn btn-primary"/>
    </div>
</form>